<section class="flex">
  <div class="w-[15em]"></div>
  <div class="">
    <h1 class="text-4xl py-[1em]">Articles</h1>
    <button
      routerLink="/new-article"
      mat-raised-button
      class="!bg-[#3F51B5] mb-[2em]"
    >
      + Create new Article
    </button>
    <div class="flex flex-wrap gap-[1em] items-start justify-center p-[1em]">
      <a *ngFor="let article of data" [routerLink]="['/details-article', article._id]" style="text-decoration: none;">
        <app-article-block [article]="article"></app-article-block>
      </a>
    </div>
    
  </div>
  <div class="w-[15em]"></div>
</section>
