<div class="flex justify-center p-[2em]">
  <div class="w-[90%] p-[1em] bg-white rounded-lg">
    <h1 class="mb-[0.5em] text-3xl">Create Article</h1>
    <form
      class="flex flex-col"
      [formGroup]="addArticleGroup"
      (ngSubmit)="onFormSubmit()"
    >
      <mat-form-field class=" ">
        <mat-label>Titel</mat-label>
        <input
          class="!text-black placeholder:!text-red-400 !placeholder-red-400"
          matInput
          placeholder="Type a titel"
          [formControl]="addArticleGroup.controls.title"
        />
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Description</mat-label>
        <input
          class="!text-black"
          matInput
          placeholder="Type a description"
          [formControl]="addArticleGroup.controls.description"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea
          class="!text-black"
          matInput
          placeholder="Write content about the article"
          [formControl]="addArticleGroup.controls.content"
        ></textarea>
      </mat-form-field>

      <div class="h-[3em] px-[1em] pb-[1em] flex gap-[1em] items-center">
        <button
          type="button"
          mat-raised-button
          (click)="fileInput.click()"
          class="!bg-white !text-black"
        >
          Choose File
        </button>
        <input
          hidden
          (change)="handleFileInput($event)"
          #fileInput
          type="file"
          accept="image/*"
          id="file"
        />
        <mat-chip-listbox aria-label="File Uploads">
          <mat-chip-option *ngIf="fileToUpload" class="!bg-[#3F51B5]">
            {{ fileToUpload.name }}
          </mat-chip-option>
          <div
            *ngIf="!fileToUpload"
            class="px-[1em] flex justify-center items-center"
          >
            Currently no file image uploaded
          </div>
        </mat-chip-listbox>
      </div>

      <mat-form-field>
        <mat-label>Author</mat-label>
        <input
          class="!text-black"
          matInput
          placeholder="Write your Name"
          [formControl]="addArticleGroup.controls.author"
        />
      </mat-form-field>

      <div class="pt-[1em]">
        <button
          routerLink="/new-article"
          mat-raised-button
          class="!bg-[#3F51B5] mb-[2em]"
          type="submit"
        >
          Create Article
        </button>
      </div>
    </form>
  </div>
</div>
